<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Picture contrast</title>
</head>
<body>

    {% if result %}
        <img src="../static/picha.jpeg" alt="">
    {% else %}
        <form action="/picture_api" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <p>
                <label for="a">Picture 1</label>
                <input type="text" name="pic1">
            </p>
            <p>
                <label for="b">Picture 2</label>
                <input type="text" name="pic2">
            </p>
            <p>
                <input type="submit">
            </p>
        </form>
    {% endif %}
</body>
</html>